@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply w-full h-full p-0 m-0 text-primary bg-secondary;
}

#__next, main {
  @apply w-full h-full;
}

@layer base {
  .btn-primary {
    @apply px-4 py-2 bg-accent text-primary border border-accent 
           hover:bg-secondary hover:text-primary transition-all duration-200 
           rounded-lg;
  }
  
  .input-primary {
    @apply px-4 py-2 bg-secondary text-primary border border-accent 
           focus:outline-none focus:ring-1 focus:ring-primary 
           rounded-lg;
  }
}

.bg-gradient-custom {
  background: linear-gradient(to right, #9333ea, #6366f1); /* Purple 600 to Indigo 600 */
  transition: background 0.3s ease;
}

.bg-gradient-custom:hover {
  background: linear-gradient(to right, #7e22ce, #555bd6); /* Purple 700 to Indigo 700 */
}